body {
  margin: 0;
  padding: 0;
  background-color: #e0def8;
  font-family: "Libre Franklin", sans-serif;
}

@font-face {
  font-family: BookAntiqua;
  src: url(BookAntiqua.ttf);
}

header {
  background-image: url("../img/hero.png");
  background-size: cover;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.align-center {
  display: block;
  text-align: center;
}

.container {
  width: 1400px;
  padding: 0;
  margin: auto;
}

.container-small {
  width: 1200px;
  padding: 0;
  margin: auto;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-box {
  background-color: white;
  border-radius: 10px;
  padding: 4.5rem 2.5rem;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 8px 2px #0000001a;
}

.box {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 8px 2px #0000001a;
  width: 30%;
  text-align: center;
  padding: 3rem 0;
}

.dawning-of-a-new-day-regular {
  font-family: "Dawning of a New Day", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.libre-franklin-medium {
  font-family: "BookAntiqua", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 2rem;
}

.libre-franklin-large {
  font-family: "BookAntiqua", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  padding-bottom: 2rem;
}

.libre-franklin-regular {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-size: 20px;
  margin: 0 1rem;
}

main {
  background-color: #e0def8;
  padding-top: 3rem;
  border-top-left-radius: 50% 50px;
  border-top-right-radius: 50% 50px;
  margin-top: -50px;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  border-radius: 100px;
  background-color: #7537c3;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
}

.button--disabled {
  cursor: not-allowed;
  background-color: #8f8f8f;
}

@media (max-width: 1400px) {
  .flex {
    display: block;
    text-align: center;
  }

  header {
    display: block;
  }

  .container, .container-small {
    width: 95%;
  }

  .box {
    width: 100%;
    margin-bottom: 2rem;

  }

  .flex-end {
    display: block;
    text-align: center;
  }

  .hero-box {
    margin-top: 2rem;
    opacity: 0.8;
  }
}
